.container {
  padding: 0 2rem;
}

.heading {
  color: #dbeaf7;
  text-align: center;
  margin: 40px 0;
  margin-top: 0;
}

.main {
  margin: 0 auto;
  min-height: 90vh;
  padding: 4rem 1rem;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  /* background-image: url('../src/assets/bg-grid.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}

.page {
  margin: 0 auto;
  min-height: 90vh;
  padding: 4rem 1rem;
  /* flex-direction: column; */
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  /* background-image: url('../src/assets/bg-grid.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  font-size: 18px;
  text-align: justify;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 25px;
}

.features {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.features div {
  width: 450px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 1rem 1.5rem;
  border: 1px solid #adbce3;
  border-radius: 8px;
  background-color: #dee6f7;
  background-color: inherit;
  color: #16191c;
  color: #dbeaf7;
  box-shadow: #7a90b7 0px 1px 3px 0px, #b3cbe5 0px 1px 2px 0px;
  margin: 20px;
  transition: .2s ease-in-out;
}

.features div:hover {
  transform: scale(1.02);
  background-color: #7a90b7;
  color: #16191c;
}

.btn {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
}

.btn:disabled {
  cursor: default;
}

.btn:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.btn:hover {
  transform: scale(1.01);
}


.about {
  max-width: 600px;
}

.image {
  max-width: 700px;
  padding: 25px 0;
}

.pay_content {
  margin: 30px;
}

.single_pay {
  
}

.pay {
  /* margin: 20[x] auto; */
  width: 90%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  border: 1px solid #adbce3;
  border-radius: 8px;
  background-color: #dee6f7;
  background-color: transparent;
  color: #dbeaf7;
  box-shadow: #7a90b7 0px 1px 3px 0px, #b3cbe5 0px 1px 2px 0px;
}
.class1 {
  margin: 50px;
}

.single_pay {
  /* margin: 20[x] auto; */
  /* width: 90%; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  border: 1px solid #adbce3;
  border-radius: 8px;
  background-color: #dee6f7;
  background-color: transparent;
  color: #dbeaf7;
  box-shadow: #7a90b7 0px 1px 3px 0px, #b3cbe5 0px 1px 2px 0px;
}

.pay h1,
.pay h4 {
  margin: 0;
}

.pay h3 {
  text-align: justify;
}

.button {
  /* width: 50%; */
  margin: 15px;
  margin-bottom: 5px;
  width: 25%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  /* width: 100%; */
}

.banner {
  max-width: 750px;
}

.dashboard {
  width: 90%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.dashboard_section {
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.received {
  scroll-behavior: auto;
  /* max-height: 100vh; */
}

.balance {
    /* margin: 20[x] auto; */
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3rem 2rem;
    border: 1px solid #adbce3;
    border-radius: 8px;
    background-color: #dee6f7;
    background-color: transparent;
    color: #dbeaf7;
    box-shadow: #7a90b7 0px 1px 3px 0px, #b3cbe5 0px 1px 2px 0px;
}


.input {
  margin: 10px 0;
  border: 0;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media screen and (max-width: 768px) {
  .button {
    width: 100%;
  }

  .pay {
    padding: 1rem;
  }

  .pay_content {
    padding: 0.5rem 0;
  }

  .dashboard_section {
    width: 100%;
  }

}
