.container {
  padding: 0 2rem;
}

.heading {
  color: #dbeaf7;
  text-align: center;
  margin: 40px 0;
  margin-top: 0;
}

.main {
  margin: 0 auto;
  min-height: 90vh;
  padding: 4rem 1rem;
  /* flex-direction: column; */
  display: flex;
  justify-content: space-around;
  /* justify-content: center; */
  align-items: flex-start;
  flex-wrap: wrap;
  /* background-image: url('../src/assets/bg-grid.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}

.page {
  margin: 0 auto;
  min-height: 90vh;
  padding: 4rem 1rem;
  /* flex-direction: column; */
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  /* background-image: url('../src/assets/bg-grid.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.image {
  max-width: 850px;
}

.pay_content {
  margin: 30px;
}

.pay {
  /* margin: 20[x] auto; */
  width: 90%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  border: 1px solid #adbce3;
  border-radius: 8px;
  background-color: #dee6f7;
  background-color: transparent;
  color: #dbeaf7;
  box-shadow: #7a90b7 0px 1px 3px 0px, #b3cbe5 0px 1px 2px 0px;
}

.pay h1,
.pay h4 {
  margin: 0;
}

.pay h3 {
  text-align: justify;
}

.button {
  /* width: 50%; */
  margin: 15px;
  margin-bottom: 5px;
  width: 25%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  /* width: 100%; */
}

.banner {
  max-width: 750px;
}

.dashboard {
  width: 90%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.dashboard_section {
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.received {
  scroll-behavior: auto;
  /* max-height: 100vh; */
}

.balance {
    /* margin: 20[x] auto; */
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3rem 2rem;
    border: 1px solid #adbce3;
    border-radius: 8px;
    background-color: #dee6f7;
    background-color: transparent;
    color: #dbeaf7;
    box-shadow: #7a90b7 0px 1px 3px 0px, #b3cbe5 0px 1px 2px 0px;
}


.input {
  border: 0;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media screen and (max-width: 768px) {
  .button {
    width: 100%;
  }

  .pay {
    padding: 1rem;
  }

  .pay_content {
    padding: 0.5rem 0;
  }

  .dashboard_section {
    width: 100%;
  }

}
