.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  /* flex-direction: column; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  /* background-image: url('../src/assets/bg-grid.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}

.hero {
  width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap; 
}

.image {
  max-width: 850px;
}

@media screen and ( max-width: 768px ) {
  .main {

  }

  .left, .right {
    width: 100%;
  }

}

/* 
@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
